In [ ]:
pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.6.0.tar.gz (31 kB)
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from googlemaps) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2021.10.8)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.6.0-py3-none-any.whl size=38554 sha256=b81b0991a1973fe2620daa127b9ed06fa0eb67f1eb3c6656284553a2332ec4e9
  Stored in directory: /root/.cache/pip/wheels/80/db/c0/6d958585fa97b20e250bf437acf7e6e715b4809c2dd4e55367
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.6.0

In [ ]:
import pandas as pd
import numpy as np
import re
from scipy import stats
import requests
import json
import glob
import time
import math
import googlemaps

# import os
# os.chdir('/Users/korrakote.s/Desktop/Work/Project/Asset Intelligence')

In [ ]:
# API KEY from Google console
# Ref: https://developers.google.com/maps/documentation/javascript/overview

keys = 'AIzaSyB6UlXRbMi8ItB7cKsgIHfNB0DNfwzeG1U' #mo's api key
# keys = 'AIzaSyDSHh4D-0zhBV87F3i-yzFg3CMyxUTuo5I' #bam's api key

#get lat long of condos given

In [ ]:
chiangrai_edited = pd.read_csv('/content/chiangrai_with_latlng_rating_edited.csv')
#nakhon = pd.read_csv('/content/gov_price_condo_nakhon_ratchasima.csv');

In [ ]:
chiangrai_edited.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'hs_nm', 'cnd_bld_no', 'cnd_flr_no',
       'apx_gov_prc', 'details', 'lat', 'lng', 'rating'],
      dtype='object')

In [ ]:
#drop useless column
chiangrai = chiangrai_edited.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [ ]:
chiangrai[chiangrai['hs_nm']=='เชียงราย แฮปปี้ ซิตี้ คอนโดมิเนียม']

,hs_nm,cnd_bld_no,cnd_flr_no,apx_gov_prc,details,lat,lng,rating
22,เชียงราย แฮปปี้ ซิตี้ คอนโดมิเนียม,-,1,"31,400",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.863547,99.949187,4.3
23,เชียงราย แฮปปี้ ซิตี้ คอนโดมิเนียม,-,2,"31,800",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.863547,99.949187,4.3
24,เชียงราย แฮปปี้ ซิตี้ คอนโดมิเนียม,-,3,"32,400",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.863547,99.949187,4.3
25,เชียงราย แฮปปี้ ซิตี้ คอนโดมิเนียม,-,4,"33,000",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.863547,99.949187,4.3
26,เชียงราย แฮปปี้ ซิตี้ คอนโดมิเนียม,-,5,"33,700",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.863547,99.949187,4.3

In [ ]:
#drop duplicate condo
chiangrai = chiangrai.drop([22,23,24,25,26]).reset_index()

In [ ]:
chiangrai = chiangrai.drop(columns=['index'])

In [ ]:
chiangrai.head(30)

,hs_nm,cnd_bld_no,cnd_flr_no,apx_gov_prc,details,lat,lng,rating
0,กัลปพฤกษ์ แกรนด์ พาร์ค เชียงราย,-,2,"52,800",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.876132,99.831627,4.4
1,กัลปพฤกษ์ แกรนด์ พาร์ค เชียงราย,-,3,"54,400",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.876132,99.831627,4.4
2,กัลปพฤกษ์ แกรนด์ พาร์ค เชียงราย,-,4,"55,500",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.876132,99.831627,4.4
3,กัลปพฤกษ์ แกรนด์ พาร์ค เชียงราย,-,5,"56,600",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.876132,99.831627,4.4
4,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,A,2,"48,500",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
5,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,A,3,"49,200",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
6,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,A,4,"50,000",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
7,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,A,5,"51,000",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
8,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,A,6,"52,100",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
9,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,A,7,"53,200",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
10,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,A,8,"54,400",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
11,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,B,2,"48,500",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
12,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,B,3,"49,200",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
13,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,B,4,"50,000",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
14,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,B,5,"51,000",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
15,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,B,6,"52,100",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
16,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,B,7,"53,200",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
17,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,B,8,"54,400",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.936184,99.844870,4.4
18,เค เอ็นริชเม้นท์,-,1,"24,300",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.974626,99.850627,5.0
19,เค เอ็นริชเม้นท์,-,2,"24,600",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.974626,99.850627,5.0
20,เค เอ็นริชเม้นท์,-,3,"25,000",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.974626,99.850627,5.0
21,เค เอ็นริชเม้นท์,-,4,"25,500",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,19.974626,99.850627,5.0
22,เชียงรายคอนโดเทล,-,3,"18,700",พักอาศัย/พื้นที่ระเบียง,19.909285,99.824177,3.9
23,เชียงรายคอนโดเทล,-,4,"18,800",พักอาศัย/พื้นที่ระเบียง,19.909285,99.824177,3.9
24,เชียงรายคอนโดเทล,-,5,"18,900",พักอาศัย/พื้นที่ระเบียง,19.909285,99.824177,3.9
25,เชียงรายคอนโดเทล,-,6,"19,100",พักอาศัย/พื้นที่ระเบียง,19.909285,99.824177,3.9
26,เชียงรายคอนโดเทล,-,7,"19,300",พักอาศัย/พื้นที่ระเบียง,19.909285,99.824177,3.9
27,เชียงรายคอนโดเทล,-,8,"19,500",พักอาศัย/พื้นที่ระเบียง,19.909285,99.824177,3.9
28,เชียงรายคอนโดเทล,-,9,"19,700",พักอาศัย/พื้นที่ระเบียง,19.909285,99.824177,3.9
29,เชียงรายคอนโดเทล,-,10,"20,000",พักอาศัย/พื้นที่ระเบียง,19.909285,99.824177,3.9

In [ ]:
nakhon.head()

In [ ]:
def fetch_result(results,lat_lon):
    for i in range(len(results['results'])):
        place_id.append(results['results'][i]['place_id'])
        name.append(results['results'][i]['name'])
        latitude.append(results['results'][i]['geometry']['location']['lat'])
        longitude.append(results['results'][i]['geometry']['location']['lng'])
        address.append(results['results'][i]['vicinity'])
        types.append(str(results['results'][i]['types']))
        latlon.append(lat_lon)

In [ ]:
chiangrai["lat"]="a"
chiangrai["lng"]="b"
chiangrai["rating"]=0.0

In [ ]:
for i in range(len(chiangrai['hs_nm'])):
  latlng = get_latlng(chiangrai['hs_nm'][i])
  chiangrai["lat"][i]=latlng.get("lat")
  chiangrai["lng"][i]=latlng.get("lng")
  chiangrai["rating"][i]=latlng.get("rating")

In [ ]:
chiangrai.head(10)

In [ ]:
chiangrai.to_csv('chiangrai.csv')

In [ ]:
nakhon["lat"]="c"
nakhon["lng"]="d"
nakhon["rating"]=0.0

In [ ]:
# 14.1-15.8 || 101.1-103
south = 14.1
west = 101.1
north = 15.8
east = 103

def get_latlng (name):
  url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input="+name+"&inputtype=textquery&locationbias=rectangle%3A"+str(south)+","+str(west)+"|"+str(north)+","+str(east)+"&fields=name%2Crating%2Cgeometry&key="+keys;

  payload={}
  headers = {}

  response = requests.request("GET", url, headers=headers, data=payload)
  latlng = response.json().get("candidates")[0].get("geometry").get("location")
  latlng['rating']=response.json().get("candidates")[0].get("rating")
  return latlng;

for i in range(len(nakhon['hs_nm'])):
  # print(i)
  n_latlng = get_latlng(nakhon['hs_nm'][i])
  nakhon["lat"][i]=n_latlng.get("lat")
  nakhon["lng"][i]=n_latlng.get("lng")
  nakhon["rating"][i]=n_latlng.get("rating")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
nakhon.head(40)

In [ ]:
nakhon.to_csv('nakhon_with_latlng_rating(1).csv')

# check lat lng of condo in nakhon if it's in the grid of the province
## to remove condos that can't be found in the province

In [ ]:
nakhon_manual = pd.read_csv('/content/nakhon_with_latlng_rating.csv');

In [ ]:
# 14.1-15.8 || 101.1-103
pd.unique(nakhon_manual[(nakhon_manual['lat']>15.8)|(nakhon_manual['lat']<14.1)|(nakhon_manual['lng']>103)|(nakhon_manual['lng']<101.1)]['hs_nm'])

array(['แกรนด์ คอนโดมิเนียม', 'คลาสเตอร์เฮ้าส์', 'คลาสเตอร์เฮาส์ 2',
       'คลาสเตอร์เฮ้าส์ 3', 'คอนโดมิเนียม G', 'คาสเทลโล 2'], dtype=object)

In [ ]:
check_dup = nakhon_manual.groupby(['lat','lng']).size().reset_index()
check_dup[check_dup[0]>1]

#clean chiangrai
##to remove duplicate condos

In [ ]:
ch_unique = pd.read_csv('/content/chiangrai_unique_condo_name.csv');
ch_old = pd.read_csv('/content/chiangrai_with_latlng_rating.csv');

In [ ]:
ch_old['condo']=ch_old['hs_nm']

In [ ]:
ch_old['condo'] = ch_old['condo'].astype(str)
ch_unique['condo'] = ch_unique['condo'].astype(str)

In [ ]:
ch_old.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'hs_nm', 'cnd_bld_no', 'cnd_flr_no',
       'apx_gov_prc', 'details', 'lat', 'lng', 'rating', 'condo'],
      dtype='object')

In [ ]:
ch_update = pd.merge(ch_unique, ch_old[['condo','cnd_bld_no','cnd_flr_no','apx_gov_prc','details','rating']], on='condo', how='inner')
ch_update.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
len(ch_update)

119

In [ ]:
len(pd.unique(ch_update['condo']))

14

In [ ]:
len(ch_unique)

14

In [ ]:
ch_update.to_csv('/chiangrai_with_latlng_rating_updated.csv')

#clean nakhon
##to remove duplicate condos

In [ ]:
nk_unique = pd.read_csv('/content/nakhon_unique_condo_name.csv');
nk_old = pd.read_csv('/content/nakhon_with_latlng_rating.csv');

In [ ]:
#choose file
data = chiangrai

In [ ]:
#get unique condo's name and its latlng from file
num = len(data['hs_nm'])
condo_name_with_latlng = []
for i in range (num-1):
  if(data['hs_nm'][i] != data['hs_nm'][i+1]):
    info = []
    info.append(data['hs_nm'][i])
    info.append(data['lat'][i])
    info.append(data['lng'][i])
    condo_name_with_latlng.append(info)
info = []
info.append(data['hs_nm'][num-1])
info.append(data['lat'][num-1])
info.append(data['lng'][num-1])
condo_name_with_latlng.append(info)

raw_file_condo_name = pd.DataFrame(condo_name_with_latlng,columns=['condo','lat','lng'])
raw_file_condo_name.to_csv('chiangrai_unique_condo_name.csv')

In [ ]:
nk_unique.head(5)

,Unnamed: 0,Unnamed: 0.1,condo,lat,lng
0,0,0,360 คอนโดเทล,14.599583,101.368556
1,1,1,360 พาโน,14.599183,101.370081
2,2,2,แกรนด์ เอเวอร์ไนน์,14.976079,102.081063
3,3,3,โกลเด้นเบล แมนชั่น,14.661438,101.400219
4,4,4,เขาใหญ่ แคลิฟอร์เนีย พาร์ค คอนโดมิเนียม,14.579241,101.400969

In [ ]:
nk_old.head(5)

,Unnamed: 0,Unnamed: 0.1,hs_nm,cnd_bld_no,cnd_flr_no,apx_gov_prc,details,lat,lng,rating,condo
0,0,0,360 คอนโดเทล,1(ไม่มีลิฟต์),1,"64,300",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,14.599583,101.368556,4.0,360 คอนโดเทล
1,1,1,360 คอนโดเทล,1(ไม่มีลิฟต์),2,"62,400",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,14.599583,101.368556,4.0,360 คอนโดเทล
2,2,2,360 คอนโดเทล,1(ไม่มีลิฟต์),3,"61,000",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,14.599583,101.368556,4.0,360 คอนโดเทล
3,3,3,360 คอนโดเทล,2(มีลิฟต์),1,"61,600",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,14.599583,101.368556,4.0,360 คอนโดเทล
4,4,4,360 คอนโดเทล,2(มีลิฟต์),2,"62,400",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,14.599583,101.368556,4.0,360 คอนโดเทล

In [ ]:
nk_old['condo']=nk_old['hs_nm']

In [ ]:
nk_old[['condo','cnd_bld_no','cnd_flr_no','apx_gov_prc','details','rating']].join(nk_unique, on=['condo'], how='inner')

ValueError: ignored

In [ ]:
nk_old['condo'] = nk_old['condo'].astype(str)
nk_unique['condo'] = nk_unique['condo'].astype(str)

In [ ]:
nk_update = pd.merge(nk_unique, nk_old[['condo','cnd_bld_no','cnd_flr_no','apx_gov_prc','details','rating']], on='condo', how='inner')
nk_update.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)

In [ ]:
nk_update.tail()

,condo,lat,lng,cnd_bld_no,cnd_flr_no,apx_gov_prc,details,rating
619,แสนดาวเขาใหญ่ คอนโด บ้านเคียงดาว,14.555326,101.310481,1,3,"73,300",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,4.6
620,แสนดาวเขาใหญ่ คอนโด บ้านเคียงดาว,14.555326,101.310481,1,4,"74,700",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,4.6
621,แสนดาวเขาใหญ่ คอนโด บ้านเคียงดาว,14.555326,101.310481,1,5,"76,300",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,4.6
622,แสนดาวเขาใหญ่ คอนโด บ้านเคียงดาว,14.555326,101.310481,1,6,"77,900",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,4.6
623,แสนดาวเขาใหญ่ คอนโด บ้านเคียงดาว,14.555326,101.310481,1,7,"79,700",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,4.6

In [ ]:
len(nk_update)

624

In [ ]:
len(pd.unique(nk_update['condo']))

82

In [ ]:
len(nk_unique)

82

In [ ]:
nk_update.to_csv('/nakhon_with_latlng_rating.csv')

# get POI of each condo in both province

In [ ]:
import pandas as pd

In [ ]:
#ch_file = pd.read_csv('/content/chiangrai_with_latlng_rating.csv');
# nk_file = pd.read_csv('/content/nakhon_with_latlng_rating.csv');

In [ ]:
ch_condo = pd.read_csv('/content/chiangrai_unique_condo_name.csv');
# nk_condo = pd.read_csv('/content/nakhon_unique_condo_name.csv');

In [ ]:
# choosing 17 places and radious
type_param  = [['atm', 300], ['bar', 2000], ['gas_station', 1000], ['convenience_store', 200],
              ['department_store', 800], ['hospital', 1000], ['university', 2000], ['supermarket', 800], ['gym', 1000],
              ['shopping_mall', 800], ['laundry', 300], ['movie_theater', 800], ['park', 500], ['night_club', 2000], 
              ['primary_school', 2000], ['school',2000], ['tourist_attraction', 2000]]

In [ ]:
# choose file
file = ch_condo

Nearby search result:
https://developers.google.com/maps/documentation/places/web-service/search-nearby

In [ ]:
def fetch_result(results,lat_lon,apartment_name):
    for i in range(len(results['results'])):
        condo.append(apartment_name)
        latlon.append(lat_lon)
        place_name.append(results['results'][i]['name'])
        place_id.append(results['results'][i]['place_id'])
        latitude.append(results['results'][i]['geometry']['location']['lat'])
        longitude.append(results['results'][i]['geometry']['location']['lng'])
        types.append(str(results['results'][i]['types']))
        price_level.append(results['results'][i].get('price_level'))
        rating.append(results['results'][i].get('rating'))
        num_rating.append(results['results'][i].get('user_ratings_total'))

In [ ]:
def create_result(url):
    payload={}
    headers = {}
    response = requests.request("GET", url, headers=headers, data=payload)
    results = json.loads(response.content)
    return results

In [ ]:
for j in range(len(type_param)):
  condo = []
  latlon =[]

  place_name = []
  place_id = []
  latitude = []
  longitude = []
  types = []
  price_level = []
  rating = []
  num_rating = []

  for i in range(len(file['condo'])):
    lat = file['lat'][i]
    lon = file['lng'][i]
    coordinate = [lat,lon]

    # Get API results
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="+str(lat)+","+str(lon)+"&radius="+str(radius)+"&type="+str(type_param[j])+"&key="+keys
    results = create_result(url)    
    fetch_result(results,coordinate,file['condo'][i])

  # Combine results
  df = {'origin_name': condo, 
        'origin_latlon':latlon,
        'place_name':place_name,
        'place_id':place_id,
        'latitude':latitude,'longitude':longitude,
        'type':types, 
        'price_level':price_level,
        'rating':rating, 
        'total_user_rate':num_rating}
  data = pd.DataFrame(df)
  data.to_csv(str(type_param[j])+'_'+str(radius)+'m.csv')

In [ ]:
condo = []
latlon =[]

place_name = []
place_id = []
latitude = []
longitude = []
types = []
price_level = []
rating = []
num_rating = []

for i in range(len(file['condo'])):
  lat = file['lat'][i]
  lon = file['lng'][i]
  coordinate = [lat,lon]

  # Get API results
  url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="+str(lat)+","+str(lon)+"&radius="+str(radius)+"&type="+type_param[18][0]+"&key="+keys
  results = create_result(url)    
  fetch_result(results,coordinate,file['condo'][i])

# Combine results
df = {'origin_name': condo, 
      'origin_latlon':latlon,
      'place_name':place_name,
      'place_id':place_id,
      'latitude':latitude,'longitude':longitude,
      'type':types, 
      'price_level':price_level,
      'rating':rating, 
      'total_user_rate':num_rating}
data = pd.DataFrame(df)
data.to_csv(type_param[18][0]+'_'+str(1000)+'m.csv')

#find distance from condo to POI

In [ ]:
# Python 3 program to calculate Distance Between Two Points on Earth
from math import radians, cos, sin, asin, sqrt
def distance(lat1, lat2, lon1, lon2):
    # The math module contains a function named
    # radians which converts from degrees to radians.
    lon1 = radians(float(lon1))
    lon2 = radians(float(lon2))
    lat1 = radians(float(lat1))
    lat2 = radians(float(lat2))
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
      
    # calculate the result
    return(c * r)

In [ ]:
#calculate distance

for i in range(len(type_param)): 
  file = pd.read_csv('/content/ch_'+type_param[i][0]+'_'+str(type_param[i][1])+'m.csv')
  file['condo_latlng']=0.0
  for i in range(len(file)):
    latlon = file['origin_latlon'][i].replace("[", "").replace("]", "")
    file['condo_latlng'][i] = latlon.split(',')
    file['condo_latlng'][i][0] = float(file['condo_latlng'][i][0])
    file['condo_latlng'][i][1] = float(file['condo_latlng'][i][1])
  file['distance_to_condo']=0.0
  for row in range(len(file)):
    lat1 = file['condo_latlng'][row][0]
    lon1 = file['condo_latlng'][row][1]
    lat2 = file['latitude'][row]
    lon2 = file['longitude'][row]
    file['distance_to_condo'][row] = distance(lat1, lat2, lon1, lon2)

#turn distance into feature: mean and count

  group_file = file[['origin_name', 'price_level', 'rating', 'distance_to_condo']].groupby(by="origin_name").mean()
  group_file = group_file.join( file[['origin_name', 'total_user_rate']].groupby(by="origin_name").sum(), on=['origin_name']).join( file[['origin_name', 'place_id']].groupby(by="origin_name").count(), on=['origin_name'])
  group_file = group_file.reset_index()
  group_file.columns = ['origin_name', 'poi_price_level', 'poi_avg_rating', 'avg_distance_to_condo (KM)',
        'num_of_rating', 'poi_count']
  group_file.to_csv(type_param[i][0]+'_'+str(1000)+'m.csv')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

,origin_name,poi_price_level,poi_avg_rating,avg_distance_to_condo (KM),num_of_rating,poi_count
0,กัลปพฤกษ์ แกรนด์ พาร์ค เชียงราย,NaN,5.000000,0.238583,5.0,6
1,ดีคอนโด ฮาย,NaN,3.516667,0.211690,27.0,20
2,ทองคำคอนโดเทล,NaN,4.166667,0.161540,12.0,20
3,เชียงรายคอนโดเทล,NaN,5.000000,0.245485,1.0,4
4,เอสเซ็นท์ วิลล์ เชียงราย,NaN,3.900000,0.220301,16.0,8

In [ ]:
def get_distance_nk(file):
  
  file['condo_latlng']=0.0
  for i in range(len(file)):
    latlon = file['origin_latlon'][i].replace("[", "").replace("]", "")
    file['condo_latlng'][i] = latlon.split(',')
    file['condo_latlng'][i][0] = float(file['condo_latlng'][i][0])
    file['condo_latlng'][i][1] = float(file['condo_latlng'][i][1])
  file['distance_to_condo']=0.0
  for row in range(len(file)):
    lat1 = file['condo_latlng'][row][0]
    lon1 = file['condo_latlng'][row][1]
    lat2 = file['latitude'][row]
    lon2 = file['longitude'][row]
    file['distance_to_condo'][row] = distance(lat1, lat2, lon1, lon2)
  return file

In [ ]:
def get_distance_ch(file):
  # file = pd.read_csv('/content/ch_'+type_param[i][0]+'_'+str(type_param[i][1])+'m.csv')
  file['condo_latlng']=0.0
  for i in range(len(file)):
    latlon = file['origin_latlon'][i].replace("[", "").replace("]", "")
    file['condo_latlng'][i] = latlon.split(',')
    file['condo_latlng'][i][0] = float(file['condo_latlng'][i][0])
    file['condo_latlng'][i][1] = float(file['condo_latlng'][i][1])
  file['distance_to_condo']=0.0
  for row in range(len(file)):
    lat1 = file['condo_latlng'][row][0]
    lon1 = file['condo_latlng'][row][1]
    lat2 = file['latitude'][row]
    lon2 = file['longitude'][row]
    file['distance_to_condo'][row] = distance(lat1, lat2, lon1, lon2)
  return file

In [ ]:
#turn distance into feature: mean and count
def count_num(file,i):
  group_file = file[['origin_name', 'price_level', 'rating', 'distance_to_condo']].groupby(by="origin_name").mean()
  group_file = group_file.join( file[['origin_name', 'total_user_rate']].groupby(by="origin_name").sum(), on=['origin_name']).join( file[['origin_name', 'place_id']].groupby(by="origin_name").count(), on=['origin_name'])
  group_file = group_file.reset_index()
  name = type_param[i][0]
  group_file.columns = ['condo', name+'_price_level', name+'_avg_rating', name+'_avg_distance_to_condo (KM)',name+'_num_of_rating', name+'_count']
  return group_file

In [ ]:
for i in range(len(type_param):
  count_num(get_distance(i))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,origin_name,atm_price_level,atm_avg_rating,atm_avg_distance_to_condo (KM),atm_num_of_rating,atm_count
0,กัลปพฤกษ์ แกรนด์ พาร์ค เชียงราย,2.0,4.557895,1.161177,727.0,20
1,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,3.0,4.687500,1.080862,4403.0,9
2,ดิ ไอเดีย พาร์ควิลล์ คอนโดมิเนียม,NaN,5.000000,1.582052,6.0,6
3,ดีคอนโด ฮาย,2.0,4.358333,0.534119,2083.0,20
4,ทองคำคอนโดเทล,NaN,4.492857,1.016540,70.0,20
5,วิน คอนโดมิเนียม,NaN,NaN,1.338088,0.0,1
6,วิฟฟ์ คอนโดมิเนียม,NaN,4.633333,1.034299,35.0,16
7,เค เอ็นริชเม้นท์,NaN,4.670000,1.095972,36.0,19
8,เชียงรายคอนโดเทล,1.5,4.186667,0.881775,3055.0,20
9,เอสเซ็นท์ วิลล์ เชียงราย,2.0,4.541667,0.299408,644.0,20
10,แฮปปี้ ซิตี้ กอล์ฟแอนด์ คอนโดมิเนียม,NaN,NaN,1.401626,0.0,1
11,ไลค์ คอนโด,2.5,4.647059,1.274647,5041.0,19
12,ไวส์ คอนโดมิเนียม,NaN,4.633333,1.034299,35.0,16

In [ ]:
#change column name
i=0
name = type_param[i][0]
group_file.columns = ['origin_name', name+'_price_level', name+'_avg_rating', name+'_avg_distance_to_condo (KM)',name+'_num_of_rating', name+'_count']
group_file

,origin_name,atm_price_level,atm_avg_rating,atm_avg_distance_to_condo (KM),atm_num_of_rating,atm_count
0,กัลปพฤกษ์ แกรนด์ พาร์ค เชียงราย,NaN,5.000000,0.238583,5.0,6
1,ดีคอนโด ฮาย,NaN,3.516667,0.211690,27.0,20
2,ทองคำคอนโดเทล,NaN,4.166667,0.161540,12.0,20
3,เชียงรายคอนโดเทล,NaN,5.000000,0.245485,1.0,4
4,เอสเซ็นท์ วิลล์ เชียงราย,NaN,3.900000,0.220301,16.0,8

#Merge POI files with original csv

In [ ]:
nakhon_merge = pd.read_csv('/content/nakhon_with_latlng_rating.csv')
for i in range(len(type_param)): 
  file = pd.read_csv('/content/nk_'+type_param[i][0]+'_'+str(type_param[i][1])+'m.csv')
  file = get_distance_nk(file)
  group_file = file[['origin_name', 'price_level', 'rating', 'distance_to_condo']].groupby(by="origin_name").mean()
  group_file = group_file.join( file[['origin_name', 'total_user_rate']].groupby(by="origin_name").sum(), on=['origin_name']).join( file[['origin_name', 'place_id']].groupby(by="origin_name").count(), on=['origin_name'])
  group_file = group_file.reset_index()
  name = type_param[i][0]
  group_file.columns = ['condo', name+'_price_level', name+'_avg_rating', name+'_avg_distance_to_condo (KM)',name+'_num_of_rating', name+'_count']
  nakhon_merge = nakhon_merge.merge(group_file, how='left',on='condo')
nakhon_merge.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,Unnamed: 0,condo,lat,lng,cnd_bld_no,cnd_flr_no,apx_gov_prc,details,rating,atm_price_level,...,school_price_level,school_avg_rating,school_avg_distance_to_condo (KM),school_num_of_rating,school_count,tourist_attraction_price_level,tourist_attraction_avg_rating,tourist_attraction_avg_distance_to_condo (KM),tourist_attraction_num_of_rating,tourist_attraction_count
0,0,360 คอนโดเทล,14.599583,101.368556,1(ไม่มีลิฟต์),1,"64,300",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,4.0,NaN,...,NaN,NaN,0.719751,0.0,1.0,NaN,4.65,1.084161,695.0,2.0
1,1,360 คอนโดเทล,14.599583,101.368556,1(ไม่มีลิฟต์),2,"62,400",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,4.0,NaN,...,NaN,NaN,0.719751,0.0,1.0,NaN,4.65,1.084161,695.0,2.0
2,2,360 คอนโดเทล,14.599583,101.368556,1(ไม่มีลิฟต์),3,"61,000",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,4.0,NaN,...,NaN,NaN,0.719751,0.0,1.0,NaN,4.65,1.084161,695.0,2.0
3,3,360 คอนโดเทล,14.599583,101.368556,2(มีลิฟต์),1,"61,600",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,4.0,NaN,...,NaN,NaN,0.719751,0.0,1.0,NaN,4.65,1.084161,695.0,2.0
4,4,360 คอนโดเทล,14.599583,101.368556,2(มีลิฟต์),2,"62,400",ห้องชุดพักอาศัยตากอากาศ/พื้นทีระเบียง,4.0,NaN,...,NaN,NaN,0.719751,0.0,1.0,NaN,4.65,1.084161,695.0,2.0

In [ ]:
nakhon_merge.to_csv('nakhon_merge.csv')

In [ ]:
chiangrai_merge = pd.read_csv('/content/chiangrai_with_latlng_rating_updated.csv')
for i in range(len(type_param)): 
  file = pd.read_csv('/content/ch_'+type_param[i][0]+'_'+str(type_param[i][1])+'m.csv')
  file = get_distance_ch(file)
  group_file = file[['origin_name', 'price_level', 'rating', 'distance_to_condo']].groupby(by="origin_name").mean()
  group_file = group_file.join( file[['origin_name', 'total_user_rate']].groupby(by="origin_name").sum(), on=['origin_name']).join( file[['origin_name', 'place_id']].groupby(by="origin_name").count(), on=['origin_name'])
  group_file = group_file.reset_index()
  name = type_param[i][0]
  group_file.columns = ['condo', name+'_price_level', name+'_avg_rating', name+'_avg_distance_to_condo (KM)',name+'_num_of_rating', name+'_count']
  chiangrai_merge = chiangrai_merge.merge(group_file, how='left',on='condo')
chiangrai_merge.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,Unnamed: 0,condo,lat,lng,cnd_bld_no,cnd_flr_no,apx_gov_prc,details,rating,atm_price_level,...,school_price_level,school_avg_rating,school_avg_distance_to_condo (KM),school_num_of_rating,school_count,tourist_attraction_price_level,tourist_attraction_avg_rating,tourist_attraction_avg_distance_to_condo (KM),tourist_attraction_num_of_rating,tourist_attraction_count
0,0,กัลปพฤกษ์ แกรนด์ พาร์ค เชียงราย,19.876132,99.831627,-,2,"52,800",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,4.4,NaN,...,NaN,4.800000,1.314194,5.0,13.0,NaN,4.62,1.542280,192.0,5.0
1,1,กัลปพฤกษ์ แกรนด์ พาร์ค เชียงราย,19.876132,99.831627,-,3,"54,400",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,4.4,NaN,...,NaN,4.800000,1.314194,5.0,13.0,NaN,4.62,1.542280,192.0,5.0
2,2,กัลปพฤกษ์ แกรนด์ พาร์ค เชียงราย,19.876132,99.831627,-,4,"55,500",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,4.4,NaN,...,NaN,4.800000,1.314194,5.0,13.0,NaN,4.62,1.542280,192.0,5.0
3,3,กัลปพฤกษ์ แกรนด์ พาร์ค เชียงราย,19.876132,99.831627,-,5,"56,600",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,4.4,NaN,...,NaN,4.800000,1.314194,5.0,13.0,NaN,4.62,1.542280,192.0,5.0
4,4,คิวเฮ้าส์ คอนโด พหลโยธิน-เชียงราย,19.936184,99.844870,A,2,"48,500",พื้นที่ห้องชุดพักอาศัย/พื้นที่ระเบียง,4.4,NaN,...,NaN,4.441667,0.980952,85.0,20.0,NaN,4.60,1.454069,11874.0,2.0

In [ ]:
chiangrai_merge.to_csv('chiangrai_merge.csv')